<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <style>
      .main-container {
        padding: 15px 30px;
      }
    </style>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">DCC Assignment 4</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Search<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/company_purchases">Company Purchases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/party_encashments">Party Encashments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/donations_recieved">Party Donations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/donations">Company Donations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/all_donations">All donations</a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      <div class="main-container">
        <h1>All donation shares</h1>
      </div>
      <div>
        <center>
          <button id="download-btn" class="btn btn-success">Download</button>
        </center>
      </div>

      <div>
        <div>
          <canvas id="chart"></canvas>
        </div>
      </div>
    </div>

    <script>
      const download = name => {
        const imagelink = document.createElement("a");
        const canvas = document.getElementById(name);
        console.log(canvas);
        imagelink.download = name + ".png";
        imagelink.href = canvas.toDataURL("image/png", 1);
        imagelink.click();
      };

      document.getElementById("download-btn").addEventListener("click", e => {
        download("chart");
      });

      let got_data = {{data|tojson}};
      const cc = [
        "#e6194b",
        "#3cb44b",
        "#ffe119",
        "#4363d8",
        "#f58231",
        "#911eb4",
        "#46f0f0",
        "#f032e6",
        "#bcf60c",
        "#fabebe",
        "#008080",
        "#e6beff",
        "#9a6324",
        "#fffac8",
        "#800000",
        "#aaffc3",
        "#808000",
        "#ffd8b1",
        "#000075",
        "#808080",
        "#ffffff",
        "#000000",
        "#361d32",
        "#543c52",
        "#f55951",
        "#edd2cb",
        "#f1e8e6",
      ];

      new Chart("chart", {
        type: "pie",
        data: {
          labels: got_data.map(item => item[0]),
          datasets: [
            {
              data: got_data.map(item => item[1]),
              hoverOffset: 5,
              backgroundColor: cc,
            },
          ],
        },
      });
    </script>
  </body>
</html>
