<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <style>
      .chart-container {
        display: flex;
      }
      .main-container {
        padding: 15px 30px;
      }
      .chart-div {
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>

  <body>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">DCC Assignment 4</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Search<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/company_purchases">Company Purchases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/party_encashments">Party Encashments</a>
          </li>
        </ul>
      </div>
    </nav>

    <div>
      <div class="main-container">
        <h1>Search for Party encashments over years</h1>
        <div>ADD THIS</div>
      </div>
      <hr />

      <div class="main-container">
        <form action="/party_encashments/result" method="POST">
          <label>
            <span>Enter the name of the Party you wanna search for: </span>
            <input type="text" name="Party_Name" placeholder="Search Query" />
          </label>
          <input type="submit" value="Submit" class="btn btn-dark" />
        </form>

        {%if result%}

        <b>Showing results for party name: {{partyname}}</b>
        <div style="display: flex; justify-content: space-between">
          <div class="w-25 p-3">
            <table class="table table-striped mx-auto">
              <thead>
                <tr>
                  <th scope="col">Year</th>
                  <th scope="col">Total value of Bonds</th>
                  <th scope="col">Number of bonds</th>
                </tr>
              </thead>
              {%if result == "none"%}
              <tr>
                <td colspan="5" style="text-align: center">No Data Found</td>
              </tr>
              {%else%}

              <tbody>
                {%for item in result%}
                <tr>
                  {%for cell in item%}
                  <td>{{cell}}</td>
                  {%endfor%}
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
          <div class="chart-div" style="width: 650px; height: 650px">
            <canvas id="no-of-bonds"></canvas>
            <button id="no-of-bonds-btn" class="btn btn-success">Download</button>
          </div>

          <div class="chart-div" style="width: 650px; height: 650px">
            <canvas id="total-bond-value"></canvas>
            <button id="total-bond-value-btn" class="btn btn-success">Download</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      const download = name => {
        const imagelink = document.createElement("a");
        const canvas = document.getElementById(name);
        imagelink.download = name + ".png";
        imagelink.href = canvas.toDataURL("image/png", 1);
        imagelink.click();
      };

      document.getElementById("no-of-bonds-btn").addEventListener("click", () => {
        download("no-of-bonds");
      });

      document.getElementById("total-bond-value-btn").addEventListener("click", () => {
        download("total-bond-value");
      });

      let iter = {{result|tojson}};

      new Chart("no-of-bonds", {
        type: "bar",
        data: {
          labels: iter.map(e => e[0]),
          datasets: [
            {
              label: "Number of Bonds purchased",
              backgroundColor: "#f54290",
              borderColor: "#FFFFFF",
              data: iter.map(e => e[1]),
            },
          ],
        },
      });

      new Chart("total-bond-value", {
        type: "bar",
        data: {
          labels: iter.map(e => e[0]),
          datasets: [
            {
              label: "Total Bond Value (in Rupees)",
              backgroundColor: "#42f5f5",
              borderColor: "#FFFFFF",
              data: iter.map(e => e[1]),
            },
          ],
        },
      });
    </script>
    {%endif%} {%endif%}
  </body>
</html>
